doctype html
html 
  head 
    title BOG - BestOfGaming
    style 
      include ../static/style.css
  body
    nav#navbar
        div#logo
            img(src="../static/img/BOG.png")
            p B E S T _ O F _ G A M I N G
        ul
            li #[a(href = "/") Home]
            li #[a(href = "#firstSection") TopFive ]
            li #[a(href = "/contact") Contact Us]
            li #[a(href = "/signin") Sign In]
            li #[a(href = "#footer") More]
    section#introSection
        div.title MY TOP 5 GAMES
    section#firstSection
        div.title 1. THE LAST OF US II
        p.hover-content "The Last of Us Part II" is an action-adventure video game set in a post-apocalyptic world. It follows the story of Ellie, a teenage girl who is immune to a deadly fungal infection. The game begins with a tragic event that sets Ellie on a journey for revenge. As she travels through dangerous environments, she encounters various factions and faces numerous challenges. Along the way, players explore themes of loss, survival, and the consequences of violence. The game has received critical acclaim for its storytelling, characters, and immersive gameplay experience.
    section#secondSection
        div.title 2. MINECRAFT
        p.hover-content Minecraft is a popular sandbox game where players can explore, gather resources, and build their own structures in a blocky world. It offers various modes, including survival and creative, and encourages creativity and imagination. Players encounter creatures, both friendly and hostile, and can create their own unique adventures within the game's open-ended environment.
    section#thirdSection
        div.title 3. ELDEN RING
        p.hover-content In the world of Elden Ring, the Lands Between were blessed by the Greater Will, who sent down the Elden Ring, a magical object housed within the Erdtree. Queen Marika ruled over the land, but the Elden Ring was shattered, causing a war among demigods and leaving a stalemate. As a Tarnished, marked as unworthy, the player embarks on a journey to collect the Great Runes and repair the Elden Ring. They navigate a world of monsters and demigods, forming alliances and making choices that shape the fate of the realm.
    section#fourthSection
        div.title 4. SEKIRO : SHADOWS DIE TWICE
        p.hover-content "Sekiro: Shadows Die Twice" is an action-adventure game developed by FromSoftware. Set in feudal Japan, players assume the role of a shinobi warrior named Wolf on a mission to rescue their kidnapped lord and seek revenge against a powerful samurai clan. The game features fast-paced, intense combat that focuses on precision, timing, and strategy. Players can utilize Wolf's prosthetic arm, which can be upgraded with various tools and weapons, to overcome challenging enemies and bosses.
    section#fifthSection
        div.title 5. DETROIT BECOME HUMAN
        p.hover-content "Detroit: Become Human" is an interactive narrative-driven game set in a near-future Detroit where players control three android protagonists, each with their own storylines. Through a series of choices and quick-time events, players shape the characters' destinies, navigate moral dilemmas, and determine the outcome of an android revolution. With its captivating storytelling, stunning visuals, and thought-provoking exploration of humanity and artificial intelligence, "Detroit: Become Human" offers an immersive and impactful gaming experience.

    footer#footer 
        div.web
            div.image 
                img(src="../static/img/BOG2.png")
            div#footer-title BOG - BestOfGaming
            p.footer-content Designed and built with all the love in the world by Sagar and team (of 1 person) with the help of YouTube.
            p.footer-content © 2023 BestOfGaming. All rights reserved.(Real)
        
        div.web 
           div#footer-title-2 LINKS
           div.links
              ul
                li #[a(href = "https://youtube.com/playlist?list=PLe7VjvWOHpLnPm1tUFsj_ITHZYZ-MEJ3K" target="_blank") The Last Of Us 2]
                li #[a(href = "https://youtube.com/playlist?list=PLe7VjvWOHpLkF5-uJkof2NIJb9KFT132Z" target="_blank") Minecraft - Season 1] 
                li #[a(href = "https://youtube.com/playlist?list=PLe7VjvWOHpLk4piG55SCnEg65jUDqcUfD" target="_blank") Minecraft - Season 2] 
                li #[a(href = "https://youtube.com/playlist?list=PLe7VjvWOHpLnuBh0qBU1oaspqPOBBEM1B" target="_blank") Elden Ring]
                li #[a(href = "https://youtube.com/playlist?list=PLe7VjvWOHpLnayA1YVIEntsd3vJNgitu-" target="_blank") Sekiro : Shadows Die Twice]
                li #[a(href = "https://youtube.com/playlist?list=PLe7VjvWOHpLnF6lzk97dWCoVuxoVYFmTx" target="_blank") Detroit Become Human]
        
        div.web
            div#footer-title-3 COMMUNITY 
            div.links 
               ul 
                 li #[a(href = "https://www.youtube.com/channel/UChuhxhgUO1C5KR8XmRBIBeA" target="_blank") YouTube]
                 li #[a(href = "https://www.instagram.com/bremsstrahlung__/" target="_blank") Instagram]
                 li #[a(href = "https://github.com/SagarSharma42069" target="_blank") GitHub]
                 li #[a(href = "https://stackoverflow.com/users/19067348/sagar-sharma" target="_blank") StackOverflow]
                 li #[a(href = "https://www.fiverr.com/sagar2557?up_rollout=true" target="_blank") Fiverr]
                 li #[a(href = "https://replit.com/@SagarSharma22?username=SagarSharma22" target="_blank") Replit]
    script
      include ../static/index.js